@model EventBooking.Controllers.ViewModels.ForgottenPasswordViewModel

@{
    using (Html.BeginForm("ResetPassword", "Security"))
    {
    <div class="control-group">
        <div class="controls">
            @Html.LabelFor(m => m.Email)
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            @Html.TextBox("Email", Model.Email, new {autofocus ="autofocus"})
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Sänd</button>
        </div>
    </div>
    }
}