<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--<add name="EventBookingContext" connectionString="Data Source=1172731c-9b54-4b0e-a41c-a19900904e45.sqlserver.sequelizer.com;Initial Catalog=db1172731c9b544b0ea41ca19900904e45;User ID=hcotswsebipljtde;Password=CopAQVaAXoHEeZvwRTm42YCZE4UCtV63VqAjonLDeg6Cungj8oTLHnsLTw5VbEhc;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" 
        connectionString="Data Source=4bae1b0d-6b5c-4e3f-aee4-a1210134421e.sqlserver.sequelizer.com;Initial Catalog=db4bae1b0d6b5c4e3faee4a1210134421e;User ID=hjdznkoemkdvefos;Password=pM2krsKaYdMdtU5cpLUUy5WBBVCpi5EjsPDv7Uh7TheCUDYSDeKFzWstXxQCWuY4;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>