

@model IEnumerable<EventBooking.Data.Team>

<div id="teams-container">
    <h2>Teams</h2>
    <ul id="teams-list">
        @foreach (var team in Model)
        {
            <li>
                @Html.ActionLink(team.Name, "ViewTeam", "Admin", new{ teamId = team.Id },  new { @class="btn-link" })
            </li>
        }
    </ul>
</div>
