

@model IEnumerable<EventBooking.Data.Team>

<div id="teams-container">
    <h2>Teams</h2>
    <ul id="teams-list">
        @foreach (var team in Model)
        {
            <li>
                <a 
                    href="@Url.Content("~/admin/team/"+team.Id)"
                    class="btn-link" >
                    @team.Name
                </a>
                <a href="@Url.Action("ExcludeFromTeam", new { id = team.Id })" class="btn"><i class="icon icon-trash"> </i></a>
            </li>
        }
    </ul>
</div>
