@model EventBooking.Controllers.ViewModels.TeamActivitiesModel

@{
    ViewBag.Title = "Team " + Model.Name;
}

<h2>Team @Model.Name</h2>

<div>
    @foreach (var eventGroup in Model.Activities)
    {
        <h3>@eventGroup.Key</h3>
        <ul>
            @foreach (var e in eventGroup)
            {
                <li>
                    <span class="month">@e.Date</span>
                    Html.ActionLink(e.Name, "Details", "Activity");
                </li>
            }
        </ul>
    }
</div>
