@model EventBooking.Controllers.ViewModels.HasNotSignedUp
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped">
    <tr>
        <th>Namn</th>
        <th>Telefonnr</th>
        <th>E-post</th>
    </tr>
    @{
        foreach (var teamMember in Model.Users)
        {
        <tr>
            <td>@teamMember.Name</td>
            <td>@teamMember.Cellphone</td>
            <td>@teamMember.Email</td>
        </tr>
        }
    }
</table>
