@model EventBooking.Controllers.ViewModels.SignedForActivity
@{
    ViewBag.Title = "WhoHasSignup";
}

<ul>
    <table>
        <tr>
            <th>Namn</th>
            <th>Från</th>
            <th>Till</th>
            <th>saker</th>
        </tr>

        @foreach (var user in Model.Session.SelectMany(s => s.Volunteers).OrderBy(t => t.Sessions.OrderBy(se => se.FromTime)))
        {
            <tr>@user.Name</tr>
            
            foreach (var session in user.Sessions)
            {
                if (session.Activity.Id == Model.Id)
                {
                    <tr>
                        @session.FromTime
                    </tr>
                    <tr>
                        @session.ToTime
                    </tr>
                }
            }
        }

    </table>
</ul>
