@model EventBooking.Controllers.ViewModels.SignedForActivity
@{
    ViewBag.Title = "WhoHasSignup";
}

<ul>
    @foreach (var user in Model.Session.SelectMany(s => s.Volunteers).OrderBy(t => t.Sessions.OrderBy(se => se.FromTime)))
    {
        //foreach (var session in Model.Session)
        //{
            
        <li>@user.Name</li>
        <li>@user.</li>
        //     }
    }
</ul>
