@model dynamic
@{
    ViewBag.Title = "Anmälan misslyckad";
}

<h2>Tyvärr misslyckades din anmälan</h2>
<p>Gå tillbaka till <a href="@Url.Action("Details", "Activity", new { id = Model.ActivityId })" class="link">aktiviteten</a> och försök igen.</p>
