@model int
@{
    ViewBag.Title = "Anmälan lyckades";
}

<div class="page-header">
    <h2>Du är nu anmäld till passet!</h2>
</div>
<p>
    <ul>
        <li><a href="@Url.Action("Details", "Team")" class="link">Tillbaka till laget</a></li>
        <li><a href="@Url.Action("Details", "Activity", new { id = Model })" class="link">Tillbaka till aktiviteten</a></li>
    </ul>
</p>
