@using System.Web.Optimization
@using EventBooking.Data
@using EventBooking.Data.Entities
@model EventBooking.Controllers.ViewModels.AdministratorPageModel

@{
    ViewBag.Title = "Administration";
}

@section Styles {
    @Styles.Render("~/Styles/Admin")
}

@section Scripts {
    @Scripts.Render("~/Scripts/admin.js")
}

@if(Roles.IsUserInRole(UserType.Administrator.ToString())) {
    <form action="@Url.Action("CreateTeam")" method="POST">
        <fieldset>
            <label>Skapa nytt lag</label>
            <input type="text" name="name" placeholder="Lag namn">
            <button type="submit" class="btn">Skapa</button>
        </fieldset>
    </form>
}

@Html.Partial("Partials/Teams", Model.Teams)


