@using System.Web.Optimization
@using EventBooking.Data
@model EventBooking.Controllers.ViewModels.AdministratorPageModel

@section styles {
    <link href="/Content/admin.css" rel="stylesheet"/>
}

@section scriptfiles {
    <script type="text/javascript" src="/Scripts/admin.js"></script>
}

@{
    ViewBag.Title = "Administration";
}

@if(Roles.IsUserInRole(UserType.Administrator.ToString())) {
    <form action="@Url.Action("CreateTeam")" method="POST">
        <fieldset>
            <label>Skapa nytt team</label>
            <input type="text" name="name" placeholder="Lag namn">
            <button type="submit" class="btn">Skapa</button>
        </fieldset>
    </form>
}

@Html.Partial("Partials/Teams", Model.Teams)


